@charset "UTF-8";.warning[data-v-b8bd42ab]{padding:8px 16px;background-color:#fff6f7;border-radius:4px;border-left:5px solid #fe6c6f;margin:20px 0;line-height:40px}.wrap-text[data-v-b8bd42ab]{white-space:pre-wrap;word-break:break-word}
