.warning[data-v-0a4b83b3]{padding:8px 16px;background-color:#fff6f7;border-radius:4px;border-left:5px solid #fe6c6f;margin:20px 0;line-height:40px}.like[data-v-0a4b83b3]{cursor:pointer;font-size:25px;display:inline-block}
