@charset "UTF-8";[data-v-9ac34cb6] .g-card{--Padding: 0}.custom-label[data-v-79d97e7d]{color:red;font-size:16px}.code-image[data-v-79d97e7d]{width:200px;height:200px}.code-image--small[data-v-79d97e7d]{width:50px;height:50px}
